.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--backgroundTernaryDark);
  
}

.bodyContainer {
  background-color: var(--backgroundTernaryDark);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .popupInnerWindow {
    width: 100%;
    height: 100% !important;
    border-radius: 0 !important;
    border-color: var(--secondary) !important;
    
    overflow: auto !important;
  }

  .roundedButton {
    align-items: center !important;
    flex-direction: column !important;
  }

  .googleIcon {
    margin: 0 !important;
  }

  .popupCloseButton {
    top: 1rem !important;
    right: 1rem !important;
  }

  .navLabel {
    visibility: hidden;
    display: none;
  }

  .NavigationContainer {
    width: auto !important;
  }

  .headerTitle {
    display: flex;
    font-size: 1.6rem !important;
  }

  .headerLogo {
    margin-left: 0.4rem !important;
  }

  .addButtonsContainer {
    flex-direction: column !important;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  
  .navLabel {
    visibility: hidden;
    display: none;
  }

  .NavigationContainer {
    width: auto !important;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* My styles */

.headerContainer {
  display: flex;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ternary);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.headerLeftContainer {
  display: flex;
  float: left;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  margin-left: 2rem;
}

.headerTitle {
  display: flex;
  font-size: 2.15rem;
}

.headerRightButtonsContainer {
  display: flex;
  float: right;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  gap: 1rem;
}

.iconButton {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  padding: 0.1rem;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.1s ease;
  fill: #1a689f
}

.iconButton:focus {
  outline: none;
}

.iconButton:hover {
  background-color: var(--ternaryHoverDark);
}

.settingsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #1a689f
}

.accountPic {
  display: flex;
  float: right;
  border-radius: 50%;
  padding: 0.3rem;
  fill: #1a689f
}



/* Navigation */


.NavigationContainer {
  display: flex;
  z-index: 0;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 18vw;
  background-color: transparent;
  padding-top: 6.5rem;
}

.NavTab {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--ternary);
  width: 100%;
  font-size: 1.6vw;
  color: var(--ternaryActive);
  margin: 0.4rem 0;
  padding: 0.5rem 0;
  border: none;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.15s ease, fill 0.15s ease;
}

.NavTab:hover {
  background-color: var(--ternaryActive);
  color: var(--textActiveLight);

  .NavIcon {
    fill: var(--textActiveLight);
  }
}

.NavIcon {
  display: flex;
  float: left;
  margin: 0 1rem;
  fill: var(--ternaryActive);
}

/* Popup */

.popupContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popupBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5px);
}

.popupInnerWindow {
  position: relative;
  z-index: 20;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--ternary);
  border-radius: 2rem;
  box-shadow: -0.1rem 0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.15);
  border: solid var(--primary) 2px;
}

.todoPopupInnerWindow {
  border-color: var(--secondary);
}

.popupCloseButton {
  position: absolute;
  display: flex;
  top: -1.7rem;
  right: -1.7rem;
  border: none;
  background-color: transparent;
  align-items: center;
  padding: 0.1rem;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.popupCloseButton:focus {
  outline: none;
}

.popupCloseButton:hover {
  background-color: var(--ternaryHoverDark);
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.roundedButton {
  display: flex;
  flex-direction: row;
  border-radius: 5rem;
  background-color: var(--ternaryActive);
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, fill 0.2s ease;
  padding: 1rem 1.3rem;
  margin: 3rem 0 0.3rem;
  font-size: medium;
  border: solid transparent 0.1rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.roundedButton:hover {
  background-color: var(--textActiveLight);
  color: var(--ternary);
  border: solid var(--primary) 0.1rem;

  .NavIcon {
    fill: var(--textActiveLight);
  }
}

.roundedButton:focus {
  outline: none;
}

.loginMenu {
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.googleIcon {
  margin-left: 1rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
  width: var(--max-width);
  max-width: 100%;
}

.cardContainer {
  background-color: var(--ternary);
  border: solid 2px transparent;
  border-radius: 1.4rem;
  padding: 0.7rem;
  transition: border 0.15s ease, visibility 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cardContainer:hover {
  border: solid 2px var(--primary);
 
  .updatedAt {
    visibility: visible;
  }
}

 .todoContainer:hover {
   border: solid 2px var(--secondary);
 }

.cardTitle {
  font-weight: bold;
}

.cardContent {
  margin-top: 0.5rem;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Limit to 6 lines */
  -webkit-box-orient: vertical;
  font-size: 1rem; /* Adjust the font size as needed */
}


.cardTagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.cardTag {
  background-color: var(--primary);
  color: white;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.todoCardTag {
  background-color: var(--secondary);
  color: var(--ternary);
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.tagIcon {
  fill: var(--primary);
  margin-right: 0.6rem;
}

.todoTagIcon {
  fill: var(--secondary);
}

/* Solid border */
div.horizontalLine {
  margin-top: 0.3rem;
  border-top: 0.1rem solid rgba(7, 68, 111, 0.5);
  width: 100%;
}

.cardTextContainer {
  width: 100%;
  
}

.cardSubtaskContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  word-wrap: break-word;
}

.cardSubtaskContainer span {
  margin: 0;
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}

.cardSubtaskContainer .icon {
  margin: 0 0.5rem;
}


.cardContent {
  margin-top: 0.5rem;
  word-wrap: break-word;
}

.cardButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deleteButton {
  display: flex;
  float: right;
  fill: var(--ternaryActive);
}

.icon {
  display: flex;
  fill: var(--ternaryActive);
}

p.updatedAt {
  visibility: hidden;
  font-size: 0.8rem;
  color: var(--primary);
}

p.todoUpdatedAt {
  color: var(--secondary);
}

.addButtonsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  gap: 2rem;
}

.addButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 1rem;
  background-color: var(--ternary);
  fill: var(--ternaryActive);
  color: var(--ternaryActive);
  font-size: large;

  .NavIcon {
    margin: 0;
    margin-right: 0.6rem;
  }
}

.addButton:hover {
  background-color: var(--ternaryActive);
  fill: var(--textActiveLight);
  color: var(--textActiveLight);

  .NavIcon {
    fill: var(--textActiveLight);
  }
}